/* page01 CSS */
section#page01 .row {
  /*
  background: url('../img/main/mSection1.png') no-repeat;
  background-size: cover;
  background-position: center;
  */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
section#page01 .row .box-wrap {
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  /*background: yellow;*/
  border: 1px solid rgba(255,255,255,0.4);
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  padding: 10px;
}

section#page01 .row .box-wrap .box {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  /*background: red;*/
  width: 100%;
  height: 20%;
}

section#page01 .row .box-wrap .box dl {
  margin: 0 auto 10%;
  padding-bottom: 10%;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
section#page01 .row .box-wrap .box dt {
  color: red;
  font-size: 2.5em;
}
section#page01 .row .box-wrap .box dd {
  font-size: 3.75em;
  font-weight: 300;
  line-height: 1.1em;
  padding-top: 0.3em;
  font-family: 'g-light';
  /* border-bottom: 1px solid rgba(255,255,255,0.4); */
}
section#page01 .row .box-wrap .box .t1 {
  font-size: 1.625em;
  padding-top: 1em;
}
/* page02 CSS */
section#page02 .row {
  background: url('../img/main/mSection2.png') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#page02 .row .inner-wrap{
  margin-top: 80px;
  /* background: blue; */
  width: 94%;
  height: 666px;
  text-align: center;
  color: #fff;
}
section#page02 .row .inner-wrap h3{
  font-size: 5em;
  font-weight: normal;
  height: 97px;
}
section#page02 .row .inner-wrap .t1{
  font-size: 1.875em;
  line-height: 1.5em;
  padding: 0.5em 0;
  font-family: 'g-med';
  font-weight: 500;
}
section#page02 .row .inner-wrap .inner{
  display: flex;
  justify-content: center;
  align-items: center;
}
section#page02 .row .inner-wrap .inner .box{
  flex-wrap: wrap;
  width: 383px;
  height: 383px;
  border: 1px solid rgba(255,255,255,0.4);
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
section#page02 .row .inner-wrap .inner .box p {
  position: absolute;
  left: 30px;
  top: 30px;
  font-size: 1.375em;
  font-weight: 700;
  line-height: 1.2em;
  font-family: 'g-bold';
}
section#page02 .row .inner-wrap .inner .box a {
  position: absolute;
  display: block;
  width: 363px;
  height: 363px;
  /* background: red; */
  border: 1px solid rgba(255,255,255,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
section#page02 .row .inner-wrap .inner .box:nth-child(even) {
  margin-top: 100px;
}
section#page02 .row .inner-wrap .inner .box img{
  margin-top: 40px;
  width: 200px;
  height: 200px;
}
section#page02 .row .inner-wrap .inner .box:hover img {
  transition: 0.5s;
  transform: scale( 1.1, 1.1 );
}
section#page02 .row .inner-wrap .inner .box:first-child{
  margin-left: 0;
}
/* page03 CSS */
section#page03 .row {
  /*
  background: url('../img/main/mSection3.png') no-repeat;
  background-size: cover;
  background-position: center;
  */
  display: flex;
  justify-content: center;
  align-items: center;
}
section#page03 .row .inner-a, section#page03 .row .inner-b{
  width: 50%;
  height: 100vh;
  color: white;
}
section#page03 .row .inner-a{
  border-right: 1px solid rgba(255,255,255,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section#page03 .row .inner-a .m-tit h3{
  font-size: 5em;
  font-weight: normal;
}
section#page03 .row .inner-a .m-tit p{
  font-size: 1.875em;
  font-family: 'g-med';
  font-weight: 500;
  margin-top: 20px;
}
section#page03 .row .inner-a .t2{
  font-size: 1.063em;
  padding: 5% 0 7%;
  color: rgba(255,255,255,0.6);
  font-weight: 500;
  line-height: 1.7em;
}
section#page03 .row .inner-a .search-box{
  width: 600px;
  height: 70px;
  overflow: hidden;
  margin: 0 auto;
  box-sizing: border-box;
  border: 3px solid #96928f;
  position: relative;
  border-radius: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section#page03 .row .inner-a .search-box input{
  height: 70px;
  width: 80%;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.0);
  font-size: 1.15em;
  padding: 0 25px;
  color: #fff;
}
section#page03 .row .inner-a .search-box button{
  width: 70px;
  height: 70px;
  background: url('../img/main/mStore-sch.png') no-repeat center center;
  background-size: 100% 100%;
  z-index: 100;
  border: none;
}
section#page03 .row .inner-b{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
section#page03 .row .inner-b-1, section#page03 .row .inner-b-2{
  height: 50%;
}
section#page03 .row .inner-b-1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
section#page03 .row .inner-b-1 .m-tit h3{
  font-size: 3.938em;
  font-weight: normal;
}
section#page03 .row .inner-b-1 .m-tit p{
  font-size: 1.875em;
  font-family: 'g-med';
  font-weight: 500;
  margin: 20px 0 40px;
}
section#page03 .row .inner-b-1 ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
section#page03 .row .inner-b-1 ul li{
  display: block;
  border-right: 1px solid rgba(255,255,255,0.2);
  /* margin-right: 30px; */
  padding: 0 70px;
}
section#page03 .row .inner-b-1 ul li:last-child{
  border-right: none;
}
section#page03 .row .inner-b-1 ul li p{
  font-size: 1.375em;
  color: #FFF;
  line-height: 1.2em;
  font-family: 'g-med';
  font-weight: 500;
  padding-top: 0.7em;
}
section#page03 .row .inner-b-1{
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
section#page03 .row .inner-b-2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section#page03 .row .inner-b-2 .m-tit{
  position: relative;
  width: 80%;
  height: 150px;
}
section#page03 .row .inner-b-2 .m-tit img{
  position: absolute;
  top: -30px;
  right: 0;
}
 section#page03 .row .inner-b-2 .m-tit h3{
  font-size: 3.938em;
  color: red;
}
section#page03 .row .inner-b-2 .m-tit p{
  color: red;
  font-size: 1.688em;
  font-family: 'g-med';
  font-weight: 500;
  margin-top: 10px;
}
section#page03 .row .inner-b-2 .q-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 70px;
  border: 2px solid #f61729;
}
section#page03 .row .inner-b-2 .q-box input{
  height: 100%;
  line-height: 100%;
  padding: 0 20px;
  border: 2px solid #f61729;
  box-sizing: border-box;
  margin-right: -6px;
  background: rgba(255,255,255,0.0);
  color: #d20e19;
  font-size: 1.125em;
  font-family: 'g-med';
  font-weight: 500;
  border: none;
  outline: none;
}
section#page03 .row .inner-b-2 .q-box .i-name{
 width: 25%;
}
section#page03 .row .inner-b-2 .q-box .i-phone{
 width: 50%;
 border-left: 2px solid #f61729;
}
section#page03 .row .inner-b-2 .q-box button{
  width: 25%;
  height: 100%;
  font-size: 1.375em;
  background: #f61729;
  color: #FFF;
  font-family: 'g-med';
  font-weight: 500;
  border: none;
}
section#page03 .row .inner-b-2 .agree{
  width: 80%;
  height: 37px;
  padding: 16px 0 0 10px;
}
section#page03 .row .inner-b-2 .agree label{
  font-size: 0.875em;
  color: #f61729;
  font-family: 'g-med';
  font-weight: 500;
}
section#page03 .row .inner-b-2 .agree a{
    display: inline-block;
    background: #000;
    color: #fff;
    font-size: 0.75em;
    padding: 0 12px;
}
/* page04 CSS */
section#page04 .row {
  background: url('../img/main/mSection4.png') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}
section#page04 .row .m-tit{
  margin-top: 100px;
}
section#page04 .row .m-tit h3 {
  font-size: 5em;
  font-weight: normal;
  margin-bottom: 20px;
}
section#page04 .row .m-tit p {
  font-size: 1.875em;
  font-family: 'g-med';
  font-weight: 500;
}
section#page04 .row .mNews{
  width: 85%;
  height: 30%;
  margin: 4% auto 7%;
  padding: 5%;
  border: 1px solid rgba(255,255,255,0.2);
  background: rgba(0,0,0,0.15);
  overflow: hidden;
}
section#page04 .row .mNews .typo{
  width: 250px;
  float: left;
}
section#page04 .row .mNews .typo h2{
  font-size: 2.5em;
  font-family: 'g-light';
  font-weight: 300;
  color: #FFF;
  text-align: left;
}
section#page04 .row .mNews .typo p{
  font-family: 'g-med';
  font-weight: 500;
  padding-top: 10%;
  text-align: left;
}
section#page04 .row .mNews .cont{
  float: left;
  width: 60%;
}
section#page04 .row .mNews .cont ul li{
  width: 100%;
  line-height: 1.2em;
  padding-bottom: 19px;
}
section#page04 .row .mNews .cont ul li a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'g-med';
  font-size: 18px;
}
section#page04 .row .mNews .cont ul li a p{
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
  width: 80%;
  text-align: left;
}
section#page04 .row .mNews .cont ul li a span{
  opacity: .4;
  font-family: 'g-light';
}
/* page05 CSS */
section#page05 .row {
  background: url('../img/main/mSection5.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}
section#page05 .row .m-tit{
  margin-top: -30px;
}
section#page05 .row .m-tit h3 {
  font-size: 5em;
  font-weight: normal;
  margin-bottom: 20px;
}
section#page05 .row .m-tit p {
  font-size: 1.875em;
  font-family: 'g-med';
  font-weight: 500;
  margin-bottom: 100px;
}
section#page05 .row .slider-wrap{
  /* width: 1515px; */
  width: 90%;
  height: 303px;
  overflow: hidden;
}
section#page05 .row .slider-wrap .swiper-wrapper img{
  /* display: block;
  width: 100%;
  height: auto; */
  /* max-width: 100%; */
  width: auto;
  height: auto;
  display: block;
  padding: 10px;
}
.swiper-button-next:after, .swiper-button-prev:after {
  content:'';
}
.swiper-button-next{
  right: 80px;
  top: calc( 50% + 100px );
}
.swiper-button-prev{
  left: 80px;
  top: calc( 50% + 100px );
}

#footer {
  /* position: absolute; */
  width: 100%;
  height: 200px;
  left: 0;
  bottom: 0;
  background: white;
  z-index: 900;
}
#footer .footer-inner{
  overflow: hidden;
  padding: 35px;
}
#footer .f-logo {
  float: left;
}
#footer .f-info {
  float: left;
  overflow: hidden;
}
#footer .f-info ul {
  display: block;
  width: 800px;
}
#footer .f-info ul:first-child{
  display: flex;
  align-items: center;
}
#footer .f-info ul:first-child li{
  font-size: 0.95em;
  margin-left: 20px;
  margin-bottom: 10px;
}
#footer .f-info ul:first-child a{
  color: #5C5C5C;
  font-family: 'g-med';
  font-weight: 500;
}
#footer .f-into ul:last-child{
  height: 76px;
}
#footer .f-info ul:last-child li{
  margin-left: 20px;
  font-size: 0.95em;
  color: rgba(0,0,0,0.4);
  display: inline-block;
  line-height: 1.5em;
  font-weight: 200;
  padding-right: 20px;
  font-family: 'g-light';
}
#footer .f-info ul:last-child .copy{
  margin-top: 20px;
}
#footer .f-sns {
  float: right;
}